.add {
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid rgb(96, 96, 96);
}
.h2 {
    text-align: center;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.form__block-flex {
    display: flex;
    flex-direction: column;
    // margin-right: 100px;
}
.form__input {
    box-sizing: border-box;
    padding: 10px 30px;
    margin: 10px 0;
    outline: none;
    max-width: 600px;
    border: 1px solid #ffa200;
    font-family: "Lato";
    font-size: 19px;
}
.form__file {
    border: none;
}
::placeholder {
    font-size: 19px;
    color: rgb(52, 52, 160);
    transition: 400ms all;
    text-overflow: hidden;
}
.form__input:focus::placeholder {
    text-indent: 600px;
    transition: 400ms text-indent;
    white-space: nowrap;
}
.form__submit {
    color: rgb(52, 52, 160);
    background-color: rgb(190, 192, 47);
    cursor: pointer;
}
