$h2_color: rgb(48, 48, 48);
$border_card: #d3d3d3;

//mixin для элементов блока search
@mixin search () {
    margin: 0 12.5px;
    font-size: 14px;
    font-family: "Georgia";
    color: rgb(96, 96, 96);
    font-style: italic; 
    position: relative;
}
// mixin псевдо элемент для элементов блока search
@mixin serarch_before() {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 100%;
    background-color: #303030;
    bottom: -4px;
    left: 0;
}
// ====================================================================================================== //
.search {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}
.sub-categories {
    display: none;
}
.sub-price {
    display: none;
}
.goods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &-item {
        flex-basis: calc(25% - 25px);
        margin-bottom: 127px;
        margin-right: 25px;

       
        img {
            height: 257px;
            width: 100%;
            border: 1px solid $border_card;
        }
        .goods-item-title {
            color: $h2_color;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 600;
            text-align: center;
        }
        .goods-item-price {
            color: $h2_color;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 300;
            text-align: center;
        }
    }   
}