.main {
    text-align: center;
}
.goods-photo {
    height: 50vh;
}
.add-to-basket {
    background-color: #f68236;
    color: white;
    width: 175px;
    margin: 50px auto;
    text-transform: uppercase; 
    font-family: "Myriad Pro";
    font-size: 14px;
    padding: 18px 25px;
    cursor: pointer;

    &:active {
        background-color: white;
        color: #f68236;

    }
}